name: Generate Documentation Website

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm install next react react-dom
      - run: rm tsconfig.json
      - run: npm i bun-doc -g
      - run: bun-doc build; npx next build && npx next export; mv ./out ./docs
      - run: git config user.name github-actions; git config user.email github-actions@github.com; git add ./docs; git commit -m "Built Documentation"; git push;
